<!DOCTYPE html>
<html>
<head>
    <title>software managment</title>
</head>
<body>
<form action = "/login" method = "post">
    <p>welcome to school software managment:</p>
    <p><input type = "text" name = "nm" placeholder="Name"/></p>
    <p><input type = "text" name = "dob" placeholder="DOB"/></p>
    <p><input type = "text" name = "marks_physics" placeholder="Physics Marks"/></p>
    <p><input type = "text" name = "marks_chemistry" placeholder="Chemistry Marks"/></p>
    <p><input type = "text" name = "marks_maths" placeholder="Maths Marks"/></p>
    <p><input type = "submit" name = "submit" /></p>
</form>
</body>


</html>
